@import "bootstrap/bootstrap.less";

@brand-primary: rgba(230, 230, 230, 1);
@brand-secondary: rgba(52, 127, 255, 1);
@focus-color: rgba(102, 175, 233, 1);
@omni-input-width: 400px;
@button-go-width: 50px;
@omni-group-width: @omni-input-width+@button-go-width;


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
}

.transition (@prop: all, @time: 0.1s, @ease: ease-in-out) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
.transition (@prop, @time, @ease) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
.gradient (@startColor: #fff, @endColor: #eee) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}



.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}
.box-shadow (@string1,@string2) {
  -webkit-box-shadow: @string1,@string2;
  -moz-box-shadow:    @string1,@string2;
  box-shadow:         @string1,@string2;
}
.box-shadow (@string1,@string2,@string3) {
  -webkit-box-shadow: @string1,@string2,@string3;
  -moz-box-shadow:    @string1,@string2,@string3;
  box-shadow:         @string1,@string2,@string3;
}
.box-shadow (@string1,@string2,@string3,@string4) {
  -webkit-box-shadow: @string1,@string2,@string3,@string4;
  -moz-box-shadow:    @string1,@string2,@string3,@string4;
  box-shadow:         @string1,@string2,@string3,@string4;
}
.box-shadow (@string1,@string2,@string3,@string4,@string5) {
  -webkit-box-shadow: @string1,@string2,@string3,@string4,@string5;
  -moz-box-shadow:    @string1,@string2,@string3,@string4,@string5;
  box-shadow:         @string1,@string2,@string3,@string4,@string5;
}

a, a:visited, a:hover, a:active, a:focus {
  color: inherit;
  outline: 0;
}

a:hover {
  .transition(all, 0.05s, ease-in-out);
}

button::-moz-focus-inner {
  /* removes firefox blue dotted outline on button focus */
  border: 0;
}

/* Footer */
footer {

}

hr {
  /* A better looking default horizontal rule */
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 1em 0;
  padding: 0;
}
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
  border:none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  color: #fff;
  background-color: darken(@focus-color,15%);
  border-color: darken(@focus-color,15%);
}
.form-control:focus {
  border-top-color: fadeout(@focus-color,50%);
  border-bottom-color: fadeout(@focus-color,50%);
  border-left-color: fadeout(@focus-color,25%);
  border-right-color: rgb(204,204,204);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  .transition(border-color, 0.1s, ease-in-out);
}
.form-inline .form-control {
  vertical-align: middle !important;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div#viewport {
  position: absolute;
  top: 0;
  width: 100%;
}
#viewport {
  min-height: 100%;
  position: relative;
  width: 100%;
}

#omnibar {
  margin-top: 15%;
}
#omni-group {
  margin: auto auto;
  width: @omni-group-width;
  text-align: center;
}
#omni-input {}

img#logo {
  padding: 5px;
}
button#button-go {
  .transition(background, 0.1s, ease-in-out);
  color: darken(@focus-color,15%);
}
button#button-go:focus{
  color: #fff;
  text-align: left;
}

/* ==========================================================================
   TypeAhead & Bloodhound
   ========================================================================== */
/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
}
.input-group .twitter-typeahead:first-child .tt-input:focus{
  border-bottom-left-radius: 4px;
  .transition();
}
.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}
.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  line-height: 30px;
}
textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: auto;
}
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  line-height: 46px;
}
textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: auto;
}
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.twitter-typeahead {
  width: 100%;
  float: left;
}
.input-group .twitter-typeahead {
  display: table-cell !important;
}
.twitter-typeahead .tt-hint {
  color: #999999;
}
.twitter-typeahead .tt-input {
  z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  cursor: not-allowed;
  background-color: #eeeeee !important;
}
.tt-dropdown-menu,
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  border:none;
}
.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
  display: block;
  clear: both;
  font-weight: normal;
  color: #333333;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  //background-color: #f5f5f5;
  color: #262626;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
  color: #262626;
}
.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
  margin: 0;
}

.tt-input{}
.tt-hint{}
.tt-menu{}
.tt-dataset{
  width: @omni-input-width;
  text-align: left;
  padding:0;
}
.tt-suggestion{
  margin-top: 0;
  .transition(all, 0.08s, ease-in-out);
  cursor: pointer;
  line-height: 22px;
  font-size: 14px; //Controls the font size for the drop down menu items.
  & {
    .box-shadow(none);
    background-color: #ffffff;
    padding: 5px 10px;
  }
  &:first-child{
    margin-top: 0;
  }
  &:nth-child(2n){
    background-color: #f8f8f8;
    &:hover{
      background-color: fadeout(@focus-color,75%);
    }
  }
  &:hover{
    .box-shadow(inset 4px 0 0 0 @focus-color,inset -4px 0 0 0 @focus-color);
    background-color: fadeout(@focus-color,75%);
    padding: 5px 10px 5px 15px;
  }
}
.tt-cursor, .tt-cursor:nth-child(2n){
  .box-shadow(inset 4px 0 0 0 @focus-color,inset -4px 0 0 0 @focus-color);
  background-color: fadeout(@focus-color,75%);
  padding: 5px 10px 5px 15px;
  .transition();
}
.tt-empty{}
.tt-open{}
.tt-cursor{}
.tt-highlight{
}

.empty-message{
  .transition();
  padding: 10px;
  margin-top: 0;
  text-align: center;
  background-color: fadeout(red,95%);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

// Stock Info
.stock-info{
  font-size:14px;
  background-color: fadeout(green,90%);
  text-align: center;
  border: 1px dotted fadeout(gray,85%);
  color: #333;
  padding: 5px;
  margin-left:-30px;
  margin-right:-30px;
}
.stock-info {
  &-symbol{
    .stock-info();
    font-size:20px;
    font-weight: bold;
    line-height: 20px;
  }
  &-name{
    .stock-info();
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
  }
  &-category{
    .stock-info();
    margin-right:-15px;
  }
  &-issue{
    .stock-info();
    margin-left:-15px;
  }
  &-status{
    .stock-info();
    margin-right:-15px;
  }
  &-size{
    .stock-info();
    margin-left:-15px;
  }
}
.stock-group{
  margin-bottom: 20px;
}
.stock-site-holder{
  padding-left:0;
  padding-right:0;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid fadeout(@focus-color,90%);
  border-top: none;
  background-color: #fff;
  .box-shadow(0 2px 12px -6px rgba(0,0,0,0.175));
  & a{
    display:block;
  }&:hover{
//      .box-shadow(inset 4px 0 0 0 fadeout(@focus-color,50%),inset -4px 0 0 0 fadeout(@focus-color,50%),inset 0 4px 0 0 fadeout(@focus-color,50%),inset 0 -4px 0 0 fadeout(@focus-color,50%),0 6px 12px rgba(18, 18, 36, 0.17));
//      .box-shadow(0 6px 12px rgba(18, 18, 36, 0.17));
      background-color:fadeout(@focus-color,60%);
      cursor: pointer;
      border-color: transparent;
      .transition();
   }
}
.stock-site-ticker {
  padding-left:0;
  padding-right:0;
  padding-top:5px;
  padding-bottom:5px;
  line-height: 22px;
  font-size:22px;
  font-weight: bold;
  color: #333;
  background-color: transparent;
  .box-shadow(0 4px 12px -5px rgba(0,0,0,0.175));
  border: 1px solid fadeout(@focus-color,95%);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
.gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.4));
}
.stock-site-company{
  font-size:18px;
  font-weight: normal;
  color: #555;
}
.stock-site-title{
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  line-height: 16px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  background-color: transparent;
}
.stock-site-footer{
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  font-style: italic;
  .box-shadow(2px -2px 12px rgba(0,0,0,0.05));
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  .gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.4));
}
.stock-site-cite{

  &-date{

  }
}
.stock-site-link{

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
