# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea/
*.psd
node_modules
node_modules/*
mongodb_data
mongodb_data/*