<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Stock Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <body ng-app="myApp">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- <div ng-include="'templates/header.html'"></div> -->
        <div class="main" id="viewport" ng-controller="myController">
            <div id="omnibar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="img/logo.png" id="logo"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group" id="omni-group">
                                <input type="text" class="form-control typeahead" id="omni-input" placeholder="Search for NASDAQ Tickers...">
                                <span class="input-group-btn"><button class="btn btn-default" id="button-go" type="button" ng-click="doSearch()">Go!</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center stock-group">
                        <div class="col-md-8 col-md-offset-2 stock-site-holder" ng-repeat="thing in things">
                            <stock-links></stock-links>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-include="'templates/footer.html'"></div>-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script> window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/typeahead/bloodhound.js"></script>
        <script src="js/typeahead/typeahead.bundle.js"></script>
        <script src="js/typeahead/typeahead.jquery.js"></script>
        <script src="js/Omnibar.js"></script>

    <script>
//        var url = 'http://finance.yahoo.com/q/h?s=';
//        function search() {
//            var input = $("#omni-input").val();
//            var ticker = input.substr(0,input.indexOf("|"));
//            window.location.href = url + ticker;
//        }
//        function doSearch() {
//            var input = $("#omni-input").val();
//            var ticker = input.substr(0,input.indexOf("|"));
//            var ajax = $.ajax({
//                url: 'simpleGet',
//                type: 'GET',
//                dataType: 'html',
//                data: { "ticker" : ticker },
//                success: function (resultSet) {
//                    //window.location.href = resultSet;
//                    var tmp = document.implementation.createHTMLDocument();
//                    tmp.body.innerHTML = resultSet;
//
//                    var items = $(tmp.body.children).find('.mod ul li');
//
//                    var things = [];
//                    for (var i = 0; i < items.length; i++) {
//                        var thing = {
//                            Title: $(items[i]).children('a')[0].innerText,
//                            Link: $(items[i]).children('a')[0].href,
//                            Cite: $(items[i]).children('cite')[0].innerText
//                        };
//                        things.push(thing);
//                    }
//                    $scope.$apply(function() {
//                        $scope.things = things;
//                    });
//
//                    console.log(things.length);
////                  $('#viewport').html(resultSet);
//                },
//                error: console.log("Error in simpleGet")
//            });
//        }
/*        function doMongoSearch() {
            var input = $("#omni-input").val();
            var ticker = input.substr(0,input.indexOf("|"));
            var ajax = $.ajax({
                url: 'simpleGet',
                type: 'GET',
                dataType: 'html',
                data: { "ticker" : ticker },
                success: function (resultSet) {
                    //window.location.href = resultSet;
                    //var tmp = document.implementation.createHTMLDocument();
                    //tmp.body.innerHTML = resultSet;

                    //var items = $(tmp.body.children).find('.mod ul li');
                    var items = JSON.parse(resultSet);

                    var things = [];
                    for (var i = 0; i < items.length; i++) {
                        var thing = {
                            Title: items[i].title,
                            Link: items[i].url,
                            Cite: ''
                        };
                        things.push(thing);
                    }
                    $scope.$apply(function() {
                        $scope.things = things;
                    });

                    console.log(things.length);
//                  $('#viewport').html(resultSet);
                },
                error: console.log("Error in simpleGet")
            });
        }*/
    </script>
    </body>
</html>
