<div class="col-md-12">
    <div class="stock-info-symbol">{{ info['Symbol'] }}</div>
</div>
<div class="col-md-12">
    <div class="stock-info-name">{{ info['Security Name'] }}</div>
</div>
<div class="col-md-6">
    <div class="stock-info-category">Market Category: {{ info['Market Category'] }}</div>
</div>
<div class="col-md-6">
    <div class="stock-info-issue">Test Issue: {{ info['Test Issue'] }}</div>
</div>
<div class="col-md-6">
    <div class="stock-info-status">Financial Status: {{ info['Financial Status'] }}</div>
</div>
<div class="col-md-6">
    <div class="stock-info-size">Round Lot Size: {{ info['Round Lot Size'] }}</div>
</div>



